<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="MQHostAddress" value="http://localhost:15672" />
    <add key="MQVirtualHost" value="/ICP" />
    <add key="MQUsername" value="guest" />
    <add key="MQPassword" value="guest" />
  </appSettings>
</configuration>